{% extends "base.html" %}
{% block content %}
<div class="container">
  <div id="about" class="section-cotent">
    <div class="container">
      <div class="title-section text-center">
        <h2>关于我们</h2>
        <span></span>
      </div> <!-- /.title-section -->
      <div class="container">
        <div class="row">
            <div class="event-point col-md-1 col-md-offset-3">
            <a href="javascript:void(0);">2008</a>
            <div class="history-line"></div>
            </div>
            <div class="col-md-6 event-info">
               <span>安徽永骏生物科技有限公司前身黑龙江乾润食品有限责任公司成立</span>
            </div>
        </div>
        <div class="row">
             <div class="event-point col-md-1  col-md-offset-3">
            <a href="javascript:void(0);">2012</a>
            <div class="history-line"></div>
            </div>
            <div class="col-md-6 event-info">
               <span>安徽永骏生物科技有限公司在国家级食品科技工业园--淮北凤凰山食品经济开发区内成立</span>
            </div>
        </div>
        <div class="row">
             <div class="event-point col-md-1  col-md-offset-3">
            <a href="javascript:void(0);">2013</a>
            <div class="history-line"></div>
            </div>
            <div class="col-md-6 event-info">
               <span>年底联手中国科学院打造“大健康”产业平台</span>
            </div>
        </div>
        <div class="row">
              <div class="event-point col-md-1  col-md-offset-3">
            <a href="javascript:void(0);">2015.3</a>
            <div class="history-line"></div>
            </div>
            <div class="col-md-6 event-info">
               <span>永骏旗下“瑞木堂”商标申请成功</span>
            </div>
        </div>
        <div class="row">
             <div class="event-point col-md-1  col-md-offset-3">
            <a href="javascript:void(0);">2015.8</a>
            <div class="history-line"></div>
            </div>
            <div class="col-md-6 event-info">
               <span>“瑞木堂”蓝莓果汁正式上市</span>
            </div>
        </div>
      </div>
         <div>
            <img class="img-responsive axis-img center-block" src="{{ STATIC_PREFIX }}imgs/time_axis.jpg" alt="公司">
         </div>
         </div>
         <br />
         <div  class="text-center">
         <h4>
            地址：安徽省淮北市凤凰山食品经济开发区凤冠路10号
         </h4>
         <h4>
            电话：4008-892-982
         </h4>
         <h4>
            传真：0561-3049851
         </h4>
         <br />
            <h3><strong>关注微信:rmtlanmei</strong></h3>
            <img class="img-responsive center-block" src="{{ STATIC_PREFIX }}imgs/qrcode.jpg" alt="二维码">

    </div>
  </div>     
</div>
{% endblock %}
